<style>
    body {
        background-color: rgb(184, 234, 59);
        text-align: center;
        font-size: xx-large;
    }

    a {
        font-size: xx-large;
        text-decoration: none;
        padding: 10px;
        background: white;
        border-radius: 10px;
        font-weight: bolder;
    }
</style>
<h1><%= data.boek %></h1>
<a href="/apiv1">terug naar de startpagina</a>
